:root {
    --primary-color: darkblue;
    --secondary-color: rgb(48, 119, 143);   
    --accent1-color: rgb(118, 116, 188);
    --accent2-color: rgb(123, 124, 26);
    --heading-font: 'Arial Black', "Georgia", sans-serif;
    --body-font: 'Verdana', sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;
    text-align: center;
    font-family: var(--heading-font);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    line-height: 1.6;
    color: var(--accent1-color);
}
header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.hero article img {
    float: right;
    width: 125px;
}